name: .NET Core

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.*
    - name: Build SolidShineUi project
      run: dotnet build .\SolidShineUi\SolidShineUi.csproj --configuration Release-CI
    - name: Build SsuiSample project
      run: dotnet build SsuiSample --configuration Release-CI
